extends _layout

block content
  .header
    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.left-block.text-white
          h3 Space Case
          p Чехлы с бесплатной доставкой <br> по России и Украине
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.center-block.text-white.text-center
          p 890 рублей <br> - или - <br> 350 гривен
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.right-block.text-white.text-center
          p Доставим бесплатно почтой <br> России (5-14 дней) <br> или Новой Почтой (1-2 дня)

    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-6.col-lg-6
          form.main-form
            select
              option
              option.check-span iPhone 4/-6
              option.check-span iPhone 5/5S
              option.check-span iPhone 6
              option.check-span Samsung Galaxy S4
              option.check-span Samsung Galaxy S5
            .select-color
              span Цвет фона:
              .caseColor.black.selected(data-value="black")
              .caseColor.pink(data-value="pink")
              .caseColor.red(data-value="red")
              .caseColor.white(data-value="white")
              .caseColor.green(data-value="green")
            .magin-block
              input(type='text' placeholder="надпись на чехле, например, DIANA").db.style-input.caseTextInput
              button(type="button" data-target="#modal-checkout" data-toggle="modal").db.submit-button Заказать чехол
        .col-xs-12.col-xs-sm-12.col-md-6.col-lg-6
          .caseWrapper
              img(src="img/top_black.png" height="238" width="490" alt="case" class="case")
              .caseTextContainer
      .row
        .col-xs-12
          a(href="http://vk.com/epicherman").dib.pull-right.report-span.cur Написать менеджеру VK

  .slider-wrap
    .slider
      -for(var i = 0; i < 16 ; i++)
        .slide: img(src="img/#{i + 1}.jpg")

  .footer
    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-6.left-block.text-white
          h3 Оплата
          p Мы отправляем заказ по предоплате переводом на карту Сбербанка, кошелёк Киви или Яндекс.Деньги.<br>Стоимость печати на чехлах фиксированна и не меняется:<br>890 рублей для России и 350 гривен для Украины.
        .col-xs-12.col-xs-sm-12.col-md-6.right-block.text-white
          h3 Доставка
          p Доставляем всегда бесплатно почтой России или Новой Почтой в Украине.<br>Срок: 5-14 дней для России и 1-2 дня в Украине. Никаких доплат!<br>В случае брака по нашей вине или вине перевозчика вовзращаем сумму в полном объёме или перепечатываем заказ.
    .container-fluid
      .row
        .col-xs-6
          span.question.cur(data-target="#modal-question" data-toggle="modal") Вопросы и ответы
        .col-xs-6
          p.text-right.adress ИП Юрин Г. О., ИНН 231009815565, ОГРНИП 314231103700053 <br> Россия, г. Краснодар, ул. Зиповская, д. 5/2, оф. 5, (861) 274-37-24.
          span.db.text-right.rules.cur(data-target="#modal-rules" data-toggle="modal") Конфедициальность ваших данных

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-question
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Вопросы и ответы
          h4 Что произойдёт после оформления заказа?
          p С вами свяжется менеджер для подверждения заказа. После этого мы делаем макет чехла с вашей надписью и отправляем вам на утверждение на почту или VK.
          p Если всё ОК, вы оплачиваете заказ, а мы запускаем его в печать. <br> По готовности вы получите трек-номер для отслеживания посылки.
          h4 Вы даете какие-то гарантии?
          p Да. Во-первых, стоимость услуги ровно та, что указана на сайте и не изменится. Во-вторых, доставка почтой РФ или Новой Почтой действительно бесплатна. В-третьих, в случае повреждения товара по нашей вине или вине перевозчика мы воз- вращаем деньги в полном объёме либо перепечатываем заказ.
          h4 Кто вы вообще такие?
          p Современная типография в Краснодаре, работающая с начала 2014 года.
          p За это время мы обслужили более 1000 клиентов по самым разным направлениям печати и продолжаем развиваться месяц от месяца. Ваш чехол в надёжных руках. :)
          h4 Есть другие вопросы?
          p Пишите менеджеру VK:
            a(href="http://vk.com/epicherman") vk.com/epicherman
            |Ответим!

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-rules
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          p Мы заботимся в ваших личных данных, соблюдая полную конфиденциальность при заполнении, передачих и хранении сведений.<br><br>Размещение заявки на сайте означает Ваше согласие на обработку данных.<br><br>Под персональными данными подразумевается информация, относящаяся к субъ- екту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, иму- щественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года No 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.<br><br>Целью обработки персональных данных является оказание сайтом услуг.<br><br>В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде на наш электронный адрес.

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-checkout
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Оформление заказа
          form
            input(type="text" placeholder="Имя")
            input(type="text" placeholder="Телефон (для связи и подтверждения заказа)")
            input(type="text" placeholder="Эл. почта или страница VK (сюда мы отправим макет)")
            textarea(placeholder="Комментарии к заказу")
            .clearfix
              button(type="button" data-dismiss="modal" data-target='#modal-success' data-toggle="modal") Отправить заказ!

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-success
    .modal-dialog.modal-sm
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Это успех!
          p С Вами свяжутся, чтобы подтвердить заказ.
          .clearfix
            span(data-dismiss="modal").cur.pull-right Ок!
