body{
  font-family: 'Roboto Condensed', sans-serif;
}

a,button,input, textarea{
  &:active,
  &:focus,
  &:hover{
    outline : none !important;
  }
}

.header{
  background: url(../img/bg_header.jpg) center center no-repeat;
  background-size: cover;
  .center-block,
  .left-block,
  .right-block{
    height: 132px;
  }
  .left-block{
    background: rgba(#2E7A72, 0.8);
    padding: 0 40px;
    h3{
      margin-top: 29px;
      font-size: 25px;
      margin-bottom: 4px;
    }
    p{
      font-size: 19px;
    }
  }
  .center-block{
    background: rgba(#953D5E, 0.8);
    p{
      font-size: 22px;
      margin-top: 23px;
    }
  }
  .right-block{
    background: rgba(#2C7B5C, 0.8);
    p{
      font-size: 21px;
      margin-top: 23px;
    }
  }
}

.report-span{
  color: #FFF;
  // border-bottom: 1px #FFF dashed;
  margin-top: 42px;
  font-size: 17px;
  margin-bottom: 30px;
  text-decoration: underline;
  &:hover{
    // border-color: transparent ;
    color: #FFF;
    text-decoration: none;
  }
}

select{
  display: none;
  opacity: 0;
}

.slider{
  display: none;
  .slide{
    height: 162px;
    overflow: hidden;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-form{
  margin-top: 80px;
  margin-left: -15px;
  .style-input{
    width: 100%;
    height: 60px;
    margin-bottom: 26px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .select-color{
    background: #9A9C9A;
    height: 60px;
    width: 80%;
    margin-bottom: 26px;
    span{
      font-size: 20px;
      margin-left: 87px;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      margin-top: -2px;
      margin-right: 10px;
    }
    .caseColor{
      margin-right: 10px;
    }
  }
  .magin-block{
    padding-left: 68px;
    width: 80%;
  }
  .submit-button{
    font-size: 20px;
    width: 100%;
    height: 60px;
    background: #B43C43;
    border: none;
    color: #fff;
  }
  .jq-selectbox{
    width: 80%;
    .jq-selectbox__select{
      background: #216F61;
      border-radius: 0;
      border: none;
      text-shadow: none;
      box-shadow: none;
      height: 60px;
      .jq-selectbox__trigger{
        border: none;
      }
    }
    .jq-selectbox__select-text{
      width: 100% !important;
      height: 60px;
      // text-align: center;
      line-height: 60px;
      color: #FFF;
      font-size: 20px;
      padding-left: 80px;
    }
    .jq-selectbox__trigger-arrow{
      border-top: 5px solid #fff;
      top: 27px;
    }
    .jq-selectbox__dropdown{
      top: 60px !important;
      background: #216F61;
      text-shadow: none;
      box-shadow: none;
      border-radius: 0;
      border: none;
      li{
        color: #FFF;
        padding: 10px 0 10px 90px;
        font-size: 20px;
        span{
          border-bottom: 1px #FFF dashed;
        }
        &:hover{
          background: darken(#216F61, 5%);
        }
      }
      li.selected{
        background: darken(#216F61, 10%);
      }
    }
  }
}

.footer{
  .left-block,
  .right-block{
    height: 180px;
    padding: 10px 40px;
    p{
      font-size: 16px;
    }
  }
  .left-block{
    background: #B35176;
  }
  .right-block{
    background: #3F9775;
  }
  .rules{
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-bottom: 20px;
    // margin-left: 28px;
    border-bottom: 1px dashed #000;
  }
  .question{
    margin-top: 20px;
    display: inline-block;
    font-size: 20px;
    margin-left: 28px;
    border-bottom: 1px dashed #000;
  }
  .adress{
    margin-top: 23px;
    font-size: 17px;
    color: #C7C8C9;
  }
}

.modal-content{
  background: #727574;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  .modal-header{
    border-bottom: 0;
  }
  .close{
    // border-radius: 100%;
    // border: 1px #FFF solid;
    height: 20px;
    width: 20px;
    opacity: 1;
    text-shadow: none;
    color: #FFF;
    font-size: 17px;
  }
}

#modal-checkout,
#modal-success{
  .modal-content{
    background: #BB434A;
  }
  input{
    width: 100%;
    height: 40px;
    margin-bottom: 13px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
    color: #000;
  }
  button{
    background: none;
    border: 0;
    float: right;
  }
  .sendEmailBtn, .ok-button{
    font-size: 20px;
    text-decoration: underline;
  }
}

#modal-checkout{
  textarea{
    width: 100%;
    height: 100px;
    color: #000;
    font-size: 16px;
    padding: 10px;
  }
}

#modal-success{

}

#modal-question{
  a{
    color: #FFF;
    // border-bottom: 1px dashed #fff;
    text-decoration: underline;
    margin: 5px;
    &:hover{
      text-decoration: none;
      color: #FFF;
      // border-bottom: 1px dashed transparent;
    }
  }
}

.caseColor {
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    height: 0;
    width: 0;
    border-radius: 50%;
    border: 20px solid;
}
.caseColor:hover {
    cursor: pointer;
}

.caseColor.selected {
    height: 20px;
    width: 20px;
    border: 10px solid;
}
.caseColor.black {
    border-color: #000;
}
.caseColor.pink {
    border-color: #ED3393;
}
.caseColor.red {
    border-color: #EE3B39;
}
.caseColor.green {
    border-color: #2D9A86;
}
.caseColor.white {
    border-color: #FFF;
}

.caseWrapper {
    position: relative;
    margin-top: 118px;
}
.caseTextContainer {
    position: absolute;
    top: 20px;
    left: 65px;
    height: 200px;
    width: 396px;
}
.caseTextContainer img {
    width: 100%;
    height: 100%;
}
@media only screen
  and (min-width: 992px)
  and (max-width: 1200px){
    .main-form .select-color span{
      margin-left: 15px;
      margin-right: 5px;
    }
    .main-form .jq-selectbox .jq-selectbox__select-text{
      padding-left: 5px;
    }
    .footer .left-block, .footer .right-block{
      height: 200px;
    }
}

@media all and (max-width: 992px){
  .header .left-block{
    text-align: center;
  }
  .main-form .jq-selectbox,
  .main-form .select-color{
    display: block !important;
    margin: 0 auto;
  }
  .main-form .magin-block{
    padding-left: 0;
    margin: 0 auto;
  }
  .caseWrapper{
    margin: 20px auto;
    display: table;
  }
}

@media all and (min-width: 1366px){
  .main-form .select-color span{
    margin-right: 5px;
  }
  .decktop-float{
    float: right;
    padding-right: 34px;
  }
  .main-form .jq-selectbox .jq-selectbox__select-text{
    text-align: right;
  }
  .slider .slide{
    height: 200px;
  }
}
